<web-app>

    <servlet>
        <servlet-name>PercentageServlet</servlet-name>
        <servlet-class>PercentageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PercentageServlet</servlet-name>
        <url-pattern>/calculate</url-pattern>
    </servlet-mapping>

</web-app>